.about-container {
  height: 700px;
  padding-left: 200px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.p-welcome {
  font-size: 25px;
  color: white;
}

.me-info {
  font-size: 50px;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  width: 1100px;
}
.div-presentacion {
  margin-top: 100px;
  height: 300px;
  width: 1100px;
  background-color: transparent;
}

.me-about {
  font-size: 60px;
  color: white;
}

.p-about {
  color: white;
  width: 1000px;
  font-size: 20px;
}

.p-titulo {
  font-size: 30px;
  color: white;
}

.boton {
  background-color: transparent;
  color: white;
  width: 200px;
  height: 50px;
  margin-right: 40px;
  border: none; /* Sin borde visible inicialmente */
  position: relative;
  transition: all 0.3s ease; /* Transición suave para el hover */
}

.boton::before,
.boton::after {
  content: "";
  position: absolute;
  background-color: transparent;
  transition: all 0.1s ease;
}

.boton::before {
  /* Definir la "L" en la esquina superior izquierda */
  top: 0;
  left: 0;
  width: 10px; /* Línea horizontal de la "L" */
  height: 12px; /* Línea vertical de la "L" */
  border-top: 2px solid white; /* Línea superior de la "L" */
  border-left: 2px solid white; /* Línea izquierda de la "L" */
}

.boton::after {
  /* Definir la "L" en la esquina inferior derecha */
  bottom: 0;
  right: 0;
  width: 10px; /* Línea horizontal de la "L" */
  height: 12px; /* Línea vertical de la "L" */
  border-bottom: 2px solid white; /* Línea inferior de la "L" */
  border-right: 2px solid white; /* Línea derecha de la "L" */
}

/* Al hacer hover, cambiar el borde y el color del texto */
.boton:hover {
  color: #a53400; /* Cambia el color del texto al hacer hover */
}

.boton:hover::before,
.boton:hover::after {
  background-color: transparent;
  border-color: #a53400;
  width: 100%; /* Completa el borde horizontal al hacer hover */
  height: 100%; /* Completa el borde vertical al hacer hover */
  border-radius: 0px; /* Mantén las esquinas cuadradas */
}
