.carousel {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-top: 20px;
  opacity: 0.9;
  display: flex;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-images {
  display: flex;
  justify-content: space-around; /* Espacia las imágenes horizontalmente */
  width: auto; /* Ajusta este valor si cambias la cantidad de imágenes por slide */
  height: 100%;
  transition: transform 0.5s ease; /* Transición suave para el desplazamiento de las imágenes */
  align-items: center; /* Centra las imágenes verticalmente */
}

.carousel-item img {
  width: 30%;
  height: 100%;
  object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center; /* Centra el ícono verticalmente */
  justify-content: center; /* Centra el ícono horizontalmente */
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  font-size: 2rem; /* Tamaño del icono */
  color: white; /* Color del icono */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  width: 100px;
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fondo más oscuro cuando se pasa el cursor */
}

.carousel-control-prev {
  left: 0; /* Posiciona el botón de "anterior" en la izquierda */
}

.carousel-control-next {
  right: 0; /* Posiciona el botón de "siguiente" en la derecha */
}
