.slider {
  width: 70vw;
  height: auto;
  width: 1400px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 16);
}

.slider .slide {
  width: 200px;
  margin-right: 40px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 8));
    transform: translateX(calc(-200px * 8));
  }
}
